<p>detail-user works!</p>
<div class="">
    <h1>Détails de l'utilisateur</h1>
    <div>
      <!-- <p><strong>ID:</strong> {{ user.id }}</p>
      <p><strong>Nom:</strong> {{ user.name }}</p>
      <p><strong>Email:</strong> {{ user.email }}</p>
      <p><strong>Nom de famille:</strong> {{ user.lastname }}</p>
      <p><strong>Nom d'utilisateur:</strong> {{ user.username }}</p>
      <p><strong>Rôle:</strong> {{ user.role }}</p>
      <p><strong>Numéro de téléphone:</strong> {{ user.phonenumber }}</p> -->
    </div>
    <div>
      <button>Fermer</button>
    </div>
  </div>